/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ASIDE*/
aside{
  width: 200px;
  height: 100%;
  background-color: black;
  padding: 15px;
  color: #b6b5b5;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 800;
  display: flex;
  flex-direction: column;
}
/* logo */
aside .logo{
  margin-bottom: 10px;
}
 aside img{
  width: 120px;
}
/* lista */
 aside .menu li{
  list-style: none;
  margin: 8px 0;
}
 aside .menu li img{
  width: 15px;
  height: auto;
  margin-right: 10px;
}
 aside .menu a{
  text-decoration: none;
  color: #b6b5b5;
  display: flex;
  align-items: center;
}
/* div playlist */
 aside .playlist{
  margin: 20px 0;
}
/* form */
 aside form{
  margin: 20px 0;
}
aside form button:hover{
  cursor: pointer;
}
 aside form #plus{
  background-color: grey;
  padding: 5px 8px;
  font-size: 15px;
  font-weight: bold;
}
 aside form .text{
  background-color: black;
  color: #b6b5b5;
  padding: 5px;
}
aside form button{
  border: 0;
}
/* lista */
aside .lista-nomi{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
 aside .lista-nomi li{
  list-style: none;
  margin: 8px 0;
}
 aside .lista-nomi a{
  text-decoration: none;
  color: #b6b5b5;
}
/* div app */
 aside .app{
  position: fixed;
  width: calc(200px - 30px);
  z-index: 100;
  bottom: 90px;
  background-color: black;
  padding: 10px 0;
}
 aside .app hr{
  margin: 10px 0;
}
 aside .app a{
  text-decoration: none;
  color: #b6b5b5;
  display: flex;
  align-items: center;
}
 aside .app img{
  width: 15px;
  height: auto;
  margin-right: 10px;
}



/* UPGRADE-BAR */
#upgrade-bar{
  width: 100%;
  height: 90px;
  background-color: rgba(0, 4, 20, 0.6);
  padding-right: 15px;
  position: fixed;
  z-index: 700;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#upgrade-bar a{
  text-decoration: none;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
}


/* PAGE */
#page{
  width: 100%;
  background-color: #152645;
  padding: 110px 0 90px 200px;
  color: white;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}
#page .recenti,.john-doe,.popolari{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
#page h1{
  width: 100%;
  margin-bottom: 10px;
}
#page .descrizione{
  width: 100%;
  margin-bottom: 20px;
  font-size: 12px;
  color: #b6b5b5;
}
#page .contentuto{
  width: calc(100% / 6 - 20px);
  text-align: center;
  margin-right: 20px;
  position: relative;
}
#page .contentuto img{
  width: 100%;
  height: auto;
}
#page .contentuto .titolo{
  margin:10px 0;
  font-size: 14px;
  font-weight: bold;
}
#page .contentuto .subtitle{
  font-size: 12px;
  color: #b6b5b5;
}
#page .play{
  position: absolute;
  color: white;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;

}
#page .play:hover i{
  display: block;
}
#page .play i{
  position: absolute;
  font-size: 50px;
  top: 30%;
  left: 50%;
  transform: translateX( -50%);
  display: none;
}
/* lista */
#page .menu{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 20px;
}
#page .menu li{
  list-style: none;
}
#page .menu li a{
  text-decoration: none;
  color: #b6b5b5;
}

/* div popolari */
#page .popolari img{
  border-radius: 50%;
}


/* FOOTER */
footer{
  height: 90px;
  width: 100%;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #3c3b3b;
  position: fixed;
  z-index:999;
  bottom: 0;
}
footer button{
  color: white;
  background-color: inherit;
  border: 0;
  cursor: pointer;
}
/* div brano */
footer .brano{
  display: flex;
  align-items: center;
}
footer .brano .img img{
  width: 40px;
  height: auto;
  margin-right: 10px;
}
footer .brano .titolo-brano{
  text-decoration:none;
  color: white;
}
footer .brano .titolo-brano span{
  color: #b6b5b5;
}
footer .brano .titolo-brano span:hover{
  text-decoration:underline;
}
footer .brano .icone-brano{
  margin-left: 30px;
}
footer .brano .icone-brano i{
  margin-right: 15px;
  color: #b6b5b5;
}
footer .brano .icon-footer i:hover{
  cursor: pointer;
  color:white;
}
/* div control-music */
footer .control-music{
  width: 30%;
  display: flex;
  flex-wrap: wrap;
}
footer .control-music .icone-control{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 60%;
  margin: auto;
}
footer .control-music .icone-control #play{
  font-size: 30px;
}
footer .control-music .linea-music{
  display: flex;
  width: 100%;
}
footer .control-music .linea-music-white{
  width: 30%;
  height: 3px;
  margin-top: 15px;
  background-color: white;
  border-radius: 5px;
}
footer .control-music .linea-music-grey{
  width: 70%;
  height: 3px;
  margin-top: 15px;
  background-color: #b6b5b5;
  border-radius: 5px;
}
/* div utility */
footer .utility{
  display: flex;
  align-items: center;
  color: white;
}
footer .utility .icone-utility{
  display: flex;
  justify-content: space-between;
  width: 100px;
}
footer .utility .linea-utility-white{
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background-color: white;
  margin-left: 20px;
}
footer .utility .linea-utility-grey{
  height: 3px;
  width: 70px;
  border-radius: 5px;
  background-color: #b6b5b5;
}
