/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
/* ASIDE*/
#left-bar{
  width: 200px;
  height: 100vh;
  max-height: 100%;
  background-color: black;
  padding: 15px;
  color: #b6b5b5;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 800;
  display: flex;
  flex-direction: column;
}
/* logo */
#left-bar .logo #logo-small{
  display: none;
}
#left-bar .logo #logo-big{
}
#left-bar .logo{
  margin-bottom: 10px;
}
/* lista */
#left-bar .menu li{
  list-style: none;
  margin: 8px 0;
}
#left-bar .menu li img{
  width: 20px;
  height: auto;
  margin-right: 10px;
}
#left-bar .menu a{
  text-decoration: none;
  color: #b6b5b5;
  display: flex;
  align-items: center;
}
/* div playlist */
#left-bar .playlist{
  margin: 20px 0;
}
/* form */
#left-bar form{
  margin: 20px 0;
}
#left-bar form button:hover{
  cursor: pointer;
}
#left-bar form #plus{
  background-color: grey;
  padding: 5px 8px;
  font-size: 15px;
  font-weight: bold;
}
#left-bar form .text{
  background-color: black;
  color: #b6b5b5;
  padding: 5px;
}
#left-bar form button{
  border: 0;
}
#left-bar form button:hover .text{
  color: white;
}
/* lista */
#left-bar .lista-nomi{
  display: flex;
  flex-direction: column;
  height: 130px;
  overflow:auto;
}
#left-bar .lista-nomi li{
  list-style: none;
  margin: 8px 0;
}
#left-bar .lista-nomi a{
  text-decoration: none;
  color: #b6b5b5;
}
#left-bar li:hover a{
  color: white;
}
#left-bar .menu li:hover a{
  border-left: 2px solid #58ff29;
}
/* div app */
#left-bar .app{
  width: calc(200px - 30px);
  position: absolute;
  bottom: 90px;
  background-color: black;
  padding: 10px 0;
}
#left-bar .app hr{
  margin: 10px 0;
}
#left-bar .app a{
  text-decoration: none;
  color: #b6b5b5;
  display: flex;
  align-items: center;
}
#left-bar .app img{
  width: 15px;
  height: auto;
  margin-right: 10px;
}
#left-bar .app a:hover{
  color: white;
}



/* UPGRADE-BAR */
#upgrade-bar{
  width:100vw;
  max-width:100%;
  height: 90px;
  background-color: rgba(0, 4, 20, 0.6);
  padding-right: 15px;
  position: fixed;
  z-index: 700;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#upgrade-bar a{
  text-decoration: none;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
}
#upgrade-bar a:hover{
  transform: scale(1.03);
}


/* PAGE */
#container{
  width:100vw;
  max-width:100%;
  background-color: #152645;
  padding: 110px 0 90px 200px;
  color: white;
  display: flex;
  flex-wrap: wrap;
}
#container .recenti, .john-doe, .popolari{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
#container h1{
  width: 100%;
  margin-bottom: 10px;
}
#container .descrizione{
  width: 100%;
  margin-bottom: 20px;
  font-size: 12px;
  color: #b6b5b5;
}
#container .contenuto{
  width: calc(100% / 6 - 20px);
  margin-right: 20px;
  text-align: center;
  position: relative;
}
#container .contenuto .img{
  position: relative;
}
#container .contenuto img{
  width: 100%;
  height: auto;
}
#container .contenuto .titolo{
  margin:10px 0;
  font-size: 14px;
  font-weight: bold;
}
#container .contenuto .subtitle{
  font-size: 12px;
  color: #b6b5b5;
}
#container .play{
  position: absolute;
  color: white;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
#container .contenuto:hover i{
  display: inline-block;
}
#container .contenuto:hover img{
  filter:opacity(0.5);
}
#container .contenuto:hover{
  transform: scale(1.03);
}
#container .img i{
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
/* lista */
#container .menu{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
}
#container .menu li{
  list-style: none;
  margin: 0 10px 20px;
}
#container .menu li a{
  text-decoration: none;
  color: #b6b5b5;
}
#container .menu li:hover a{
  color: white;
  border-bottom: 2px solid #58ff29;
}
/* div popolari */
#container .popolari img{
  border-radius: 50%;
}


/* FOOTER */
#media-player{
  height: 90px;
  width: 100vw;
  max-width: 100%;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3b3b;
  position: fixed;
  z-index:999;
  bottom: 0;
}
#media-player button{
  color: white;
  background-color: inherit;
  border: 0;
  cursor: pointer;
}
/* div brano */
#media-player .brano{
  display: flex;
  align-items: center;
  font-size: 12px;
}
#media-player .brano .img img{
  width: 30px;
  height: auto;
  margin-right: 10px;
}
#media-player .brano .titolo-brano{
  text-decoration:none;
  color: white;
}
#media-player .brano .titolo-brano span{
  color: #b6b5b5;
  font-size: 10px;
}
#media-player .brano .titolo-brano span:hover{
  text-decoration:underline;
}
#media-player .brano .icone-brano{
  margin-left: 10px;
}
#media-player .brano .icone-brano i{
  margin-right: 8px;
  color: #b6b5b5;
}
/* div control-music */
#media-player .control-music{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#media-player .control-music .icone-control{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
}
#media-player .control-music .icone-control #play:hover{
  transform: scale(1.05);
}
#media-player .control-music .icone-control #play{
  font-size: 30px;
}
#media-player .control-music .linea-music{
  display: flex;
  width: 60%;
}
#media-player .control-music .linea-music-white{
  width: 30%;
  height: 3px;
  margin-top: 15px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
#media-player .control-music .linea-music-white:hover{
  background-color: #58ff29;
}
#media-player .control-music .linea-music-grey{
  width: 70%;
  height: 3px;
  margin-top: 15px;
  background-color: #b6b5b5;
  border-radius: 5px;
}
/* div utility */
#media-player .utility{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}
#media-player .utility .icone-utility{
  display: flex;
  justify-content: space-between;
  width: 70px;
}
#media-player .utility .icone-utility button{
  font-size: 12px;
}
#media-player .utility .linea-utility-white{
  height: 3px;
  width: 20px;
  border-radius: 5px;
  background-color: white;
  margin-left: 10px;
  cursor: pointer;
}
#media-player .utility .linea-utility-white:hover{
  background-color: #58ff29;
}
#media-player .utility .linea-utility-grey{
  height: 3px;
  width: 40px;
  border-radius: 5px;
  background-color: #b6b5b5;
}




/* MEDIAQUERY */

@media all and (max-width: 1199px) {
  #container .contenuto{
    width: calc(100% / 4 - 20px);
  }
  #container .recenti .margin{
    margin-bottom: 30px;
  }
}

@media all and (max-width:991px) {
  #container .contenuto{
    width: calc(100% / 2 - 20px);
    margin-right: 0;
  }
  #container .recenti,.john-doe,.popolari{
    justify-content: space-between;
  }
}

@media all and (max-width:767px){
  /* left-bar */
  #left-bar{
    width: 70px;
    align-items:center;
  }
  #left-bar .menu span{
    display: none;
  }
  #left-bar .menu li img{
    width: 25px;
    height: 25px;
    margin-right: 0;
  }
  #left-bar .logo #logo-big{
    display: none;
  }
  #left-bar .logo #logo-small{
    display:inline-block;
    width: 35px;
    height: 35px;
  }
  #left-bar .playlist{
    display: none;
  }
  #left-bar .app{
    display: none;
  }
  /* upgarde */
  #upgrade-bar{
    height: 70px;
  }
  #upgrade-bar a{
    padding: 8px;
    font-size: 12px;
  }
  /* container */
  #container{
    padding: 90px 0 70px 70px;
  }
  /* media-player */
  #media-player{
    height: 70px;
  }
}

@media all and (max-width:575px){

  /* media-player */
  #media-player .control-music{
    width: 100%;
  }
  #media-player .control-music .icone-control i{
    font-size: 12px;
  }
  #media-player .control-music .icone-control #play{
    font-size: 15px;
  }
  #media-player .control-music .icone-control{
    width: 70%;
  }
  #media-player .control-music .linea-music{
    width: 70%;
  }
  #media-player .utility .icone-utility{
    width: 50px;
  }
  #media-player .utility .icone-utility button{
    font-size: 10px;
  }
  #media-player .utility .linea-utility-white{
    width: 15px;
    margin-left: 10px;
  }
  #media-player .utility .linea-utility-grey{
    width: 30px;
  }
}
