/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ASIDE*/
#left-bar{
  width: 200px;
  height: 100%;
  background-color: black;
  padding: 15px;
  color: #b6b5b5;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 800;
  display: flex;
  flex-direction: column;
}
/* logo */
#left-bar .logo{
  margin-bottom: 10px;
}
#left-bar img{
  width: 120px;
}
/* lista */
#left-bar .menu li{
  list-style: none;
  margin: 8px 0;
}
#left-bar .menu li img{
  width: 15px;
  height: auto;
  margin-right: 10px;
}
#left-bar .menu a{
  text-decoration: none;
  color: #b6b5b5;
  display: flex;
  align-items: center;
}
/* div playlist */
#left-bar .playlist{
  margin: 20px 0;
}
/* form */
#left-bar form{
  margin: 20px 0;
}
#left-bar form button:hover{
  cursor: pointer;
}
#left-bar form #plus{
  background-color: grey;
  padding: 5px 8px;
  font-size: 15px;
  font-weight: bold;
}
#left-bar form .text{
  background-color: black;
  color: #b6b5b5;
  padding: 5px;
}
#left-bar form button{
  border: 0;
}
/* lista */
#left-bar .lista-nomi{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#left-bar .lista-nomi li{
  list-style: none;
  margin: 8px 0;
}
#left-bar .lista-nomi a{
  text-decoration: none;
  color: #b6b5b5;
}
/* div app */
#left-bar .app{
  position: fixed;
  width: calc(200px - 30px);
  z-index: 100;
  bottom: 90px;
  background-color: black;
  padding: 10px 0;
}
#left-bar .app hr{
  margin: 10px 0;
}
#left-bar .app a{
  text-decoration: none;
  color: #b6b5b5;
  display: flex;
  align-items: center;
}
#left-bar .app img{
  width: 15px;
  height: auto;
  margin-right: 10px;
}



/* UPGRADE-BAR */
#upgrade-bar{
  width: 100%;
  height: 90px;
  background-color: rgba(0, 4, 20, 0.6);
  padding-right: 15px;
  position: fixed;
  z-index: 700;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#upgrade-bar a{
  text-decoration: none;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
}


/* PAGE */
#container{
  background-color: #152645;
  padding: 110px 0 90px 200px;
  color: white;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}
#container .recenti,.john-doe,.popolari{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
#container h1{
  width: 100%;
  margin-bottom: 10px;
}
#container .descrizione{
  width: 100%;
  margin-bottom: 20px;
  font-size: 12px;
  color: #b6b5b5;
}
#container .contentuto{
  width: calc(100% / 6 - 20px);
  text-align: center;
  margin-right: 20px;
  position: relative;
}
#container .contentuto img{
  width: 100%;
  height: auto;
}
#container .contentuto .titolo{
  margin:10px 0;
  font-size: 14px;
  font-weight: bold;
}
#container .contentuto .subtitle{
  font-size: 12px;
  color: #b6b5b5;
}
#container .play{
  position: absolute;
  color: white;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;

}
#container .play:hover i{
  display: block;
}
#container .play i{
  position: absolute;
  font-size: 50px;
  top: 30%;
  left: 50%;
  transform: translateX( -50%);
  display: none;
}
/* lista */
#container .menu{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 20px;
}
#container .menu li{
  list-style: none;
}
#container .menu li a{
  text-decoration: none;
  color: #b6b5b5;
}
/* div popolari */
#container .popolari img{
  border-radius: 50%;
}


/* FOOTER */
#media-player{
  height: 90px;
  width: 100%;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #3c3b3b;
  position: fixed;
  z-index:999;
  bottom: 0;
}
#media-player button{
  color: white;
  background-color: inherit;
  border: 0;
  cursor: pointer;
}
/* div brano */
#media-player .brano{
  display: flex;
  align-items: center;
  font-size: 12px;
}
#media-player .brano .img img{
  width: 40px;
  height: auto;
  margin-right: 10px;
}
#media-player .brano .titolo-brano{
  text-decoration:none;
  color: white;
}
#media-player .brano .titolo-brano span{
  color: #b6b5b5;
  font-size: 10px;
}
#media-player .brano .titolo-brano span:hover{
  text-decoration:underline;
}
#media-player .brano .icone-brano{
  margin-left: 30px;
}
#media-player .brano .icone-brano i{
  margin-right: 15px;
  color: #b6b5b5;
}
/* div control-music */
#media-player .control-music{
  width: 20%;
  display: flex;
  flex-wrap: wrap;
}
#media-player .control-music .icone-control{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}
#media-player .control-music .icone-control #play{
  font-size: 30px;
}
#media-player .control-music .linea-music{
  display: flex;
  width: 100%;
}
#media-player .control-music .linea-music-white{
  width: 30%;
  height: 3px;
  margin-top: 15px;
  background-color: white;
  border-radius: 5px;
}
#media-player .control-music .linea-music-grey{
  width: 70%;
  height: 3px;
  margin-top: 15px;
  background-color: #b6b5b5;
  border-radius: 5px;
}
/* div utility */
#media-player .utility{
  display: flex;
  align-items: center;
  color: white;
}
#media-player .utility .icone-utility{
  display: flex;
  justify-content: space-between;
  width: 80px;
}
#media-player .utility .linea-utility-white{
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background-color: white;
  margin-left: 20px;
}
#media-player .utility .linea-utility-grey{
  height: 3px;
  width: 70px;
  border-radius: 5px;
  background-color: #b6b5b5;
}




/* MEDIAQUERY */
/* md */
@media all and (max-width: 1199px) {
  #container .contentuto{
    width: calc(100% / 4 - 20px);
  }
  #container .recenti .margin{
    margin-bottom: 30px;
  }
}

/* s */
@media all and (max-width:991px) {
  #container .contentuto{
    width: calc(100% / 2 - 20px);
  }
  #container .contentuto img{
    width: 70%;
    height: auto;
  }
}
